[Unit]
Description=Minimalist Workout Journal
After=network.target

[Service]
EnvironmentFile=/home/joakim/workout_secret
ExecStart=/home/joakim/projects/Minimalist-Workout-Journal/server.py --secret $WORKOUT_SECRET -p 80
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=worklog.service
